<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-4">
  <div class="alert alert-danger col-10 offset-1" role="alert">
    <div class="alert-heading">
      <h4><%= err.message %></h4>
      <% if (err.errors) { %>
        <ul>
          <% for (let field in err.errors) { %>
            <li><%= err.errors[field].message %></li>
          <% } %>
        </ul>
      <% } %>
    </div>
  </div>
</div>
